body.light-theme {
  --background-default: rgb(233, 237, 241);
  --text-default: rgb(14, 15, 26);
  --background-row: rgb(220, 225, 229);
  --background-hover: rgb(201, 209, 216);
  --profit-positive: rgb(60, 193, 149);
  --profit-negative: rgb(249, 76, 76);
}

body.dark-theme {
  --background-default: rgb(42, 56, 71);
  --text-default: rgb(198, 210, 219);
  --background-row: rgba(14, 15, 26, 0.25);
  --background-hover: rgba(53, 71, 89, 0.5);
  --profit-positive: rgb(60, 193, 149);
  --profit-negative: rgb(249, 76, 76);
}

body {
  background-color: var(--background-default);
  color: var(--text-default);
  font-family: sans-serif;
}
